<template>
  <v-app id="app">

<!--    <v-system-bar app>-->
<!--      <v-spacer></v-spacer>-->
<!--      <v-icon>mdi-square</v-icon>-->
<!--      <v-icon>mdi-circle</v-icon>-->
<!--      <v-icon>mdi-triangle</v-icon>-->
<!--    </v-system-bar>-->

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>DBD Stats
        <router-link :to="{ name: 'AvatarGrid' }" class="mx-2">Survivors</router-link>
        <router-link :to="{ name: 'KillerGrid' }" class="mx-2">Killers</router-link>

      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon v-if="!$vuetify.theme.dark" v-on:click="toggleTheme()">
        <v-icon class="mr-1" color="blue-grey darken-4">mdi-lightbulb</v-icon>
      </v-btn>
      <v-btn icon v-if="$vuetify.theme.dark" v-on:click="toggleTheme()">
        <v-icon color="yellow darken-3">mdi-lightbulb-outline</v-icon>
      </v-btn>

    </v-app-bar>

    <v-navigation-drawer
        v-model="drawer"
        fixed
        temporary
    >
      <!--  -->
    </v-navigation-drawer>

    <v-main class="grey darken-3">
      <router-view></router-view>
      <Snackbar></Snackbar>
    </v-main>
    <info-footer></info-footer>
  </v-app>
</template>

<script>
import InfoFooter from '@/components/InfoFooter'
import Snackbar from '@/components/Snackbar'
export default {
  name: 'App',

  components: {
    InfoFooter,
    Snackbar
  },
  async created() {
    await this.$store.dispatch('checkState')
  },
  mounted() {
    this.$vuetify.theme.dark = true
  },
  data: () => ({
    drawer: null,
  }),
  methods: {
    async logout() {
      await this.$store.dispatch('logout')
    },
    toggleTheme: function () {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
    }
  }
};
</script>
