<template>
<v-container>
  <v-row class="mx-auto my-1">
    <h1 class="black--text">Survivors</h1>
    <v-btn class="mx-4" v-on:click="resetAll">Reset</v-btn>
  </v-row>

      <v-row>
        <template v-for="(avatar) in avatars">
          <v-col
            :key="avatar['id']"
            class="mt-2"
          >
            <avatar-card :input-avatar="avatar['id']" v-on:selected-avatar="emitOnSelectAvatar"></avatar-card>
            <div class="d-flex justify-center">
              {{ capitalizeWord(avatar['name']) }}
            </div>
          </v-col>
        </template>
      </v-row>

</v-container>
</template>

<script>
import AvatarCard from '@/components/AvatarCard'
import { mongoAvatarIDs as avatars } from '@/data/avatars.json'
import { capitalizeWord } from '@/utils/dbdUtils'

export default {
  name: "MainGrid",
  components: { AvatarCard },
  props: {
    inputAvatars: {
      type: Array
    }
  },
  data: function () {
    return {
      capitalizeWord,
      localAvatars: this.inputAvatars,
      selectedCard: null,
      highlightCard: null,
      isActive: false,
      avatars,
    }
  },
  computed: {
    storeSelectedPlayers() {
      return this.$store.getters.getPlayers
    }
  },
  mounted() {
  },
  methods: {
    emitOnSelectAvatar(cardRef) {
      console.log('-=-=-=-=-=-=-=-=-=-')
      console.log('Emitted card ref: ' + cardRef)
      console.log('Incoming Store State player: ' + this.storeSelectedPlayers)
      // unselect all cards
      if (cardRef !== this.storeSelectedPlayers)
      {
        this.$store.dispatch({
          type: 'setPlayer',
          player: cardRef
        })
      } else {
        this.$store.dispatch({
          type: 'clearPlayer'
        })
      }
      console.log('Outgoing State player: ' + this.$store.getters.getPlayers)
    },
    resetAll() {
      this.$store.dispatch({
        type: 'resetAllState'
      })
      // clear avatar card highlights
      this.$root.$emit('update-avatars')
    }
  },
  showSnackbar(payload) {
    this.$store.dispatch('showMessage', payload)
  }
}
</script>

<style scoped>

</style>