<template>
  <v-container>
    <v-row>
      <h1 class="my-4 mx-auto">End Match</h1>
    </v-row>
    <v-form
      ref="form"
      v-model="valid"
      >

      <v-row cols="12">

        <v-col cols="5" class="align-center mx-auto">
          <v-row justify="center">
            <h2>Survivor Info</h2>
          </v-row>

          <v-row justify="center">
            <v-col class="d-flex" cols="6">
              <v-checkbox
                  v-model="isSurvivor"
                  label="Playing Survivor?"
                  required
              >
              </v-checkbox>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col class="d-flex" cols="6">
            <v-checkbox
                v-model="escaped"
                label="Did you escape?"
                required
            >
            </v-checkbox>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col class="d-flex" cols="6">
              <v-select
                  v-model="numberEscaped"
                  :items="escapeCount"
                  label="How many escaped?"
              ></v-select>
              </v-col>
          </v-row>

          <v-row justify="center">
            <v-col class="d-flex" cols="6">
              <v-checkbox
                  v-model="tunneled"
                  label="Did someone get tunneled?"
              >
              </v-checkbox>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col class="d-flex" cols="6">
              <v-checkbox
                  v-model="hookCamped"
                  label="Did someone get camped on hook?"
              >
              </v-checkbox>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col class="d-flex" cols="6">
              <v-checkbox
                  v-model="mori"
                  label="Any moris?"
              >
              </v-checkbox>
            </v-col>
          </v-row>

        </v-col>

        <div class="vl"></div>

        <v-col cols="5" class="align-center mx-auto">
          <v-row justify="center">
              <h2>Killer Stuff</h2>
          </v-row>
          <v-row justify="center">
            <v-col class="d-flex" cols="6">
            <v-select
                v-model="numberSacrifices"
                :items="sacrificeCount"
                :rules="[v => !!v || 'Kills are required']"
                label="How may sacrifices?"
                required
            ></v-select>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col class="d-flex" cols="6">
              <v-checkbox
                  v-model="toxicSurvivors"
                  label="Toxic survivors?"
              >
              </v-checkbox>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col class="d-flex" cols="6">
              <v-checkbox
                  v-model="maybeSWF"
                  label="Feel like a SWF?"
              >
              </v-checkbox>
            </v-col>
          </v-row>

        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col class="d=-flex" cols="6">
          <v-select
            v-model="disconnects"
            :items="disconnectCount"
            label="Any disconnects?"
            >
          </v-select>
        </v-col>
      </v-row>

<!--      <v-row justify="center">-->
<!--        <v-col class="d-flex" cols="6">-->
<!--          <v-select-->
<!--              v-model="realm"-->
<!--              :items="allMaps"-->
<!--              item-text="realm"-->
<!--              label="Which realm?"-->
<!--              @click="realmSelected"-->
<!--          ></v-select>-->
<!--        </v-col>-->
<!--      </v-row>-->

        <v-row justify="center">
          <v-col class="d-flex" cols="6">
            <v-select
                v-model="map"
                :items="mapList"
                label="Which map?"
            ></v-select>
          </v-col>
        </v-row>

      <v-row justify="center" class="my-4">
        <v-col cols="6">
      <v-textarea
          counter
          label="Match Notes"
          v-model="matchNotes"
          :rules="textRules"
          :value="textValue"
          width="40%"
          outlined
          shaped
          rows="4"
          row-height="30"
          @click="textValue = ''"
      ></v-textarea>
        </v-col>
      </v-row>

      <v-row justify="center" class="mt-8">
        <v-btn
          color="green"
          outlined
          text
          @click="saveMatch"
          >Save Match Data</v-btn>
      </v-row>

    </v-form>
    <v-row>
      <div>
        {{ debugText }}
      </div>
      <div>
        {{ allSurvivors }}
      </div>
    </v-row>
  </v-container>
</template>

<script>
import { mongoAvatarIDs, mongoKillerIDs } from '../data/avatars.json'
import { postMatch } from '@/services/DBDService'

export default {
  name: "EndMatch",
  data: () => ({
    allSurvivors: null,
    valid: true,
    escaped: false,
    numberEscaped: 0,
    tunneled: false,
    hookCamped: false,
    mori: false,
    mainSurvivorID: '',
    teamSurvivorIDs: [],
    numberSacrifices: 0,
    sacrificeCount: [0, 1, 2, 3, 4],
    escapeCount: [0, 1, 2, 3, 4],
    disconnects: 0,
    disconnectCount: [0, 1, 2, 3, 4],
    toxicSurvivors: false,
    maybeSWF: false,
    killerID: '',
    map: '',
    mapList: [
        'Coal Tower', 'Groaning Storehouse', 'Ironwork of Misery', 'Shelter Woods',
        'Suffocation Pit', 'Azarovs Resting Place', 'Blood Lodge', 'Gas Heaven',
        'Wreckers Yard', 'Wretched Shop', 'Fractured Cowshed', 'Rancid Abattoir',
        'Rotten Fields', 'The Thompson House', 'Torment Creek', 'Distrubed Ward',
        'Father Campbells Chapel', 'Lampkin Lane', 'The Pale Rose', 'Grim Pantry',
        'Threatment Theatre', 'Mothers Dwelling', 'The Temple of Purgation',
        'Bedham Preschool I', 'Bedham Preschool II', 'Bedham Preschool III',
        'Bedham Preschool IV', 'Bedham Preschool V', 'The Game', 'Family Residence',
        'Sanctum of Wrath', 'Mount Ormond Resort', 'Dead Dawg Saloon',
        'Midwich Elementary School', 'Raccoon City Police Station', 'Eyrie of Crows'
    ],
    // testing
    allMaps: [
      {realm: "The MacMillan Estate", maps: ["mapA", "mapB", "mapC"]},
      {realm: "Autohaven Wreckers", maps: ["mapAA", "mapBB", "mapCC"]}
    ],
    isSurvivor: false,
    textRules: [v => v.length <= 225 || 'Max 225 characters'],
    textValue: 'Any notes about the match you want to add?',
    matchNotes: '',
    mapVisible: false,
    debugText: "",
    createStatus: undefined

  }),
  computed: {
    storeSelectedPlayers() {
      return this.$store.getters.getPlayers
    },
    storeSelectedKiller() {
      return this.$store.getters.getKiller
    }
  },
  mounted() {},
  methods: {
    realmSelected() {
      // Return map list based on selected realm
    },
    async setStorePlayers(){
      this.mainSurvivorID = this.storeSelectedPlayers[0]
      this.teamSurvivorIDs = this.storeSelectedPlayers.slice(1)
      this.killerID = this.storeSelectedKiller
    },
    async getAllSurvivors() {
      // Set from store
      await this.setStorePlayers()

      if (this.mainSurvivorID === "") {
        console.log('Error: mainSurvivorID is empty.')
        return
      } else {
        console.log('Main Survivor ID: ' + this.mainSurvivorID)
      }

      // iterate through data file
      // main survivor
      for (let idx=0; idx<mongoAvatarIDs.length; idx++) {
        if (mongoAvatarIDs[idx]['id'] === this.mainSurvivorID) {
          this.mainSurvivorID = mongoAvatarIDs[idx]['_id']
          // console.log(`mainSurvivorID: ${this.mainSurvivorID}`)
          break
        }
      }

      // rest of the team
      let teamArray = []
      for (let idx=0; idx<this.teamSurvivorIDs.length; idx++) {
        for (let idy=0; idy<mongoAvatarIDs.length; idy++) {
          if (mongoAvatarIDs[idy]['id'] === this.teamSurvivorIDs[idx]) {
            teamArray.push(mongoAvatarIDs[idy]['_id'])
            // console.log(`Team Array: ${teamArray}`)
            break
          }
        }
      }
      this.teamSurvivorIDs = teamArray

      // set killer id
      for (let idz=0; idz<mongoKillerIDs.length; idz++) {
        if (mongoKillerIDs[idz]['id'] === this.killerID) {
          this.killerID = mongoKillerIDs[idz]['_id']
          // console.log(`killerID: ${this.killerID}`)
          break
        }
      }

      console.log(`Survivor ID: ${this.mainSurvivorID}`)
      console.log(`teamArray: ${teamArray}`)
      console.log(`Team IDs: ${this.teamSurvivorIDs}`)
      console.log(`Killer ID: ${this.killerID}`)

    },
    async saveMatch() {
      // Set ids
      await this.getAllSurvivors()

      // create object to send to API
      let matchData = {
        escaped: this.escaped,
        numberEscaped: this.numberEscaped,
        tunneled: this.tunneled,
        hookCamped: this.hookCamped,
        mori: this.mori,
        mainSurvivorID: this.mainSurvivorID,
        teamSurvivorIDs: this.teamSurvivorIDs,
        numberSacrifices: this.numberSacrifices,
        disconnects: this.disconnects,
        toxicSurvivors: this.toxicSurvivors,
        maybeSWF: this.maybeSWF,
        killerID: this.killerID,
        matchNotes: this.matchNotes,
        map: this.map,
        isSurvivor: this.isSurvivor
      }

      this.debugText = matchData

      this.createStatus = await postMatch(matchData)
      // this.createStatus = {
      //   data: {
      //     status: 'success'
      //   }
      // }

      if (this.createStatus.data.status !== 'success') {
        this.showSnackbar({
          message: `Error creating new match data, please try again.`,
          color: 'red'
        })
      } else {
        try {
          // reset state data
          this.resetAll()
          this.showSnackbar({
            message: 'Successfully added match data.',
            color: 'green'
          })
          await this.$router.push({
            name: 'AvatarGrid'
          })
        } catch (err) {
          this.showSnackbar({
            message: 'Error accessing avatar page, please try again.',
            color: 'red'
          })
        }
      }
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    },
    resetAll() {
      this.$store.dispatch({
        type: 'resetAllState'
      })
      // clear avatar card highlights
      this.$root.$emit('update-avatars')
    }
  }
}
</script>

<style scoped>
.vl {
  border-left: 3px solid white;
  height: 450px;
  left: 50%;
}
</style>