<template>
  <v-container>
    <h1 class="black--text">Killers</h1>
    <v-row>
      <template v-for="(killer) in killers">
        <v-col
            :key="killer['id']"
            class="mt-2"
        >
          <killer-card :input-killer="killer['id']" v-on:selected-killer="emitOnSelectKiller"></killer-card>
          <div class="d-flex justify-center">
            {{ capitalizeWord(killer['name']) }}
          </div>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
import KillerCard from '@/components/KillerCard'
import { mongoKillerIDs as killers } from '@/data/avatars.json'
import { capitalizeWord } from '@/utils/dbdUtils'

export default {
  name: "KillerGrid",
  components: { KillerCard },
  props: {
    inputKillers: {
      type: Array
    }
  },
  data: function () {
    return {
      killers,
      capitalizeWord
    }
  },
  computed: {
    storeSelectedKiller() {
      return this.$store.state.selectedKiller
    }
  },
  mounted() {
    console.log(this.killers)
  },
  methods: {
    emitOnSelectKiller(cardRef) {
      console.log('Emitted card ref: ' + cardRef)
      console.log('Incoming Store State killer: ' + this.storeSelectedKiller)
      // unselect all cards
      if (cardRef !== this.storeSelectedKiller)
      {
        this.$store.dispatch({
          type: 'setKiller',
          killer: cardRef
        })
      } else {
        this.$store.dispatch({
          type: 'setKiller',
          killer: ''
        })
      }
      console.log('Outgoing State killer: ' + this.$store.getters.getKiller)
    },
  },
}
</script>

<style scoped>

</style>