<template>
  <v-container>
    <v-card :id="avatar" :ref="avatar" class="mx-auto" max-width="225"
            v-on:click="selectAvatar(avatar)"
            :style="'background-color:' + colors[colorIndex]">
<!--            :style="isSelected ? { 'background-color': 'red' } : { 'background-color': 'white' }">-->
      <v-card-actions>
        <v-btn class="mx-auto my-auto" height="200" width="200">
          <v-img :src="'/images/' + avatar + '_portrait.jpg'" height="200" width="200"></v-img>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "AvatarCard",
  mounted() {
    this.$root.$on('update-avatars', () => {
      this.timesSelected = 0
      this.colorIndex = 0
    })
  },
  props: {
    inputAvatar: {
      type: String
    }
  },
  data: function () {
    return {
      avatar: this.inputAvatar,
      timesSelected: 0,
      numberOfCards: null,
      colors: ['white', 'green', 'blue'],
      colorIndex: 0
    }
  },
  computed: {
    storeSelectedPlayers() {
      return this.$store.getters.getPlayers
      // return this.$store.state.selectedPlayers
    }
  },
  methods: {
    selectAvatar(cardRef) {
      if (this.timesSelected >= 4) { return }

      if (this.storeSelectedPlayers.length === 0) {
        // first card
        this.colorIndex = 1
        this.timesSelected = this.timesSelected++
      } else if (this.storeSelectedPlayers.length < 4) {
        // 2-4th card
        this.colorIndex = 2
        this.timesSelected = this.timesSelected++
      } else if (this.timesSelected > 0) {
        return
      } else {
        // this.colorIndex = 0
        return
        // this.$store.commit({
        //   type: 'clearPlayer'
        // })
      }
      // clear all cards if going from false to true,
      // if going true to false, just switch THIS card's state
      // if (this.isSelected !== true) {
      //   this.zeroOutCards()
      // }
      // this.isSelected = !this.isSelected
      this.$emit('selected-avatar', cardRef)
    },
    zeroOutCards() {
      this.$root.$emit('update-avatars')
    },
  }
}
</script>

<style scoped>

</style>