<template>
  <v-container>
    <v-progress-circular
        :size="50"
        color="primary"
        indeterminate
    ></v-progress-circular>
  </v-container>
</template>

<script>
export default {
  name: "CircleLoader"
}
</script>

<style scoped>

</style>