<template>
<v-container>
  <v-footer app bottom fixed padless>
    <v-card
        flat
        tile
        width="100%"
        height="150"
        class="text-center"
    >
      <v-card-text>

        <v-row align="center">
          <v-col cols="2" align="center">
            <template v-if="currentPlayers.length > 0">
            <v-img :src="'/images/' + currentPlayers[0] + '_portrait.jpg'" height="125" width="125"></v-img>
            </template>
            <template v-else>
              <v-img :src="'/images/survivor_grade.png'" height="125" width="125"></v-img>
            </template>
          </v-col>

          <v-col cols="2" align="center" v-for="playerIndex in 3" :key="playerIndex">
            <template v-if="currentPlayers[playerIndex]">
              <v-img :src="'/images/' + currentPlayers[playerIndex] + '_portrait.jpg'" height="100" width="100"></v-img>
            </template>
            <template v-else>
              <v-img :src="'/images/survivor_grade.png'" height="125" width="125"></v-img>
            </template>
          </v-col>

<!--          <v-col cols="2" align="center">-->
<!--            <v-img :src="'/images/s01_portrait.jpg'" height="100" width="100"></v-img>-->
<!--          </v-col>-->
<!--          <v-col cols="2" align="center">-->
<!--            <v-img :src="'/images/s01_portrait.jpg'" height="100" width="100"></v-img>-->
<!--          </v-col>-->
<!--          <v-col cols="2" align="center">-->
<!--            <v-img :src="'/images/s01_portrait.jpg'" height="100" width="100"></v-img>-->
<!--          </v-col>-->

          <v-col cols="2" align="center">
            <template v-if="currentKiller">
            <v-img :src="'/images/killers/' + currentKiller + '_portrait.jpg'" height="125" width="125"></v-img>
            </template>
            <template v-else>
              <v-img :src="'/images/killers/killer_grade.png'" height="125" width="125"></v-img>
            </template>
          </v-col>
          <v-col cols="2">
            <v-btn :disabled="false" v-on:click="checkForKiller" class="mx-auto my-auto" height="50" width="90">
              Continue
            </v-btn>
          </v-col>
        </v-row>

      </v-card-text>
    </v-card>
  </v-footer>
</v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: "InfoFooter",
  data: function () {
    return {
      buttonDisabled: true
    }
  },
  computed: {
    ...mapGetters({
      currentPlayers: 'getPlayers',
      currentKiller: 'getKiller'
    })
    // storeSelectedPlayers() {
    //   return this.$store.getters.getPlayers
    //   // return this.$store.state.selectedPlayers
    // }
  },
  methods: {
    checkForKiller() {
      console.log('CurrentKiller check: ' + !!this.currentKiller)
      if (!this.currentKiller && this.currentPlayers.length < 1) {
        this.showSnackbar({
          message: 'Please select at least one killer or survivor.',
          color: 'red'
        })
      } else {
        // continue to end game page
        this.$router.push({ name: 'EndMatch' })
      }
    },
    showSnackbar(payload) {
      this.$store.dispatch('showMessage', payload)
    }
  }
}
</script>

<style scoped>

</style>