<template>
  <v-container>
    <v-card :id="killer" :ref="killer" class="mx-auto" max-width="225"
            v-on:click="selectKiller(killer)"
            :style="isSelected ? { 'background-color': 'red' } : { 'background-color': 'white' }">
      <v-card-actions>
        <v-btn class="mx-auto my-auto" height="200" width="200">
          <v-img :src="'/images/killers/' + killer + '_portrait.jpg'" height="200" width="200"></v-img>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "KillerCard",
  mounted() {
    this.$root.$on('update-killers', () => {
      this.isSelected = false
    })
  },
  props: {
    inputKiller: {
      type: String
    }
  },
  data: function () {
    return {
      killer: this.inputKiller,
      isSelected: false
    }
  },
  methods: {
    selectKiller(cardRef) {
      console.log('Killer cardref: ' + cardRef)
      // clear all cards if going from false to true,
      // if going true to false, just switch THIS card's state
      if (this.isSelected !== true) {
        this.zeroOutKillers()
      }
      this.isSelected = !this.isSelected
      this.$emit('selected-killer', cardRef)
    },
    zeroOutKillers() {
      this.$root.$emit('update-killers')
    },
  }
}
</script>

<style scoped>

</style>